<div class="int-table-title">{{meta.title}}</div>
<div class="int-table-subtitle">{{meta.subtitle}}</div>
{{#searchable}}
	<input class="search" id="search-field" value="Search"/>
{{/searchable}}
<div id="int-table__wrapper">
	<table id="int-table" cellspacing="0">
	    <thead>
	        <tr>
	            {{#headerRows}}
	                <th class="column-header">{{.}}</th>
	            {{/headerRows}}
	        </tr>
	    </thead>
	    <tbody>
	    	
	    </tbody>
	</table>
	<button id="untruncate" class="int-button"><svg width="24" height="24" viewBox="-0.5 0.5 24 24"><path d="M10.682 3.5h1.636l.41 7.773 7.772.408v1.638l-7.77.41-.413 7.772H10.68l-.407-7.77-7.773-.412V11.68l7.773-.407.41-7.773z"></path></svg>Show all rows</button>
</div>